Repository Igasus/modular-house, pull requests merged in 2023-11, with the labels that each got.

#25 Implemented transaction tracking.
  Server/DeviceManagement/DeviceManagement.Api/AssemblyConfigurator.cs
  Server/DeviceManagement/DeviceManagement.Api/Middlewares/ExceptionHandlerMiddleware.cs
  Server/DeviceManagement/DeviceManagement.Api/Middlewares/TransactionMiddleware.cs
  Server/DeviceManagement/DeviceManagement.Domain/Common/CurrentTransaction.cs
  Server/DeviceManagement/DeviceManagement.Domain/Common/DisposableAction.cs
Labels: feature, backend

#35 UMS - Setup 'UserManagement.Startup' Project
  ModularHouse.sln
  Server/UserManagement/UserManagement.Api.Http/AssemblyConfigurator.cs
  Server/UserManagement/UserManagement.Api.Http/Controllers/PingController.cs
  Server/UserManagement/UserManagement.Api.Http/UserManagement.Api.Http.csproj
  Server/UserManagement/UserManagement.Api.Startup/Program.cs
  Server/UserManagement/UserManagement.Api.Startup/Properties/launchSettings.json
  Server/UserManagement/UserManagement.Api.Startup/UserManagement.Api.Startup.csproj
  Server/UserManagement/UserManagement.Api.Startup/appsettings.Development.json
  Server/UserManagement/UserManagement.Api.Startup/appsettings.json
  Server/UserManagement/UserManagement.Api/Program.cs
Labels: feature, user-management, backend

#38 UMS - Setup Graph DataBase
  Server/UserManagement/UserManagement.Api.Startup/Program.cs
  Server/UserManagement/UserManagement.Api.Startup/UserManagement.Api.Startup.csproj
  Server/UserManagement/UserManagement.Api.Startup/appsettings.json
  Server/UserManagement/UserManagement.Infrastructure/AssemblyConfigurator.cs
  Server/UserManagement/UserManagement.Infrastructure/ConfigurationOptions/Neo4jOptions.cs
  Server/UserManagement/UserManagement.Infrastructure/DataSources/UserDataSource.cs
  Server/UserManagement/UserManagement.Infrastructure/Repositories/UserRepository.cs
  Server/UserManagement/UserManagement.Infrastructure/UserManagement.Infrastructure.csproj
Labels: feature, user-management, backend

#40 Server/dms/fix/user controller losted commit
  Server/DeviceManagement/DeviceManagement.Api.Http/Controllers/UserController.cs
  Server/DeviceManagement/DeviceManagement.Api.Http/DataMappers/UserDataMapper.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/CreateUserCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/DeleteUserCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/Queries/GetUserQuery.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetUserQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryResponses/GetUserQueryResponse.cs
  Server/DeviceManagement/DeviceManagement.Application/DataMappers/UserDataMapper.cs
  Server/DeviceManagement/DeviceManagement.Application/Dto/UserDto.cs
  Server/DeviceManagement/DeviceManagement.Domain/UserAggregate/Dto/UserCreatedDto.cs
  Server/DeviceManagement/DeviceManagement.Domain/UserAggregate/Dto/UserDeletedDto.cs
  Server/DeviceManagement/DeviceManagement.Domain/UserAggregate/Events/UserCreatedEvent.cs
  Server/DeviceManagement/DeviceManagement.Domain/UserAggregate/Events/UserDeletedEvent.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/Repositories/UserRepository.cs
Labels: bug, device-management, backend

#42 UMS - Create Users CRUD
  Server/Common/Common.Api/Middlewares/ExceptionHandlerMiddleware.cs
  Server/Common/Common.Domain/Exceptions/InternalServerException.cs
  Server/UserManagement/UserManagement.Api.Http/Controllers/UserController.cs
  Server/UserManagement/UserManagement.Api.Http/MappingExtensions/UserMappingExtensions.cs
  Server/UserManagement/UserManagement.Api.Http/UserManagement.Api.Http.csproj
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/CreateUserCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/DeleteUserByIdCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/UpdateUserCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/Commands/CreateUserCommand.cs
  Server/UserManagement/UserManagement.Application/CQRS/Commands/DeleteUserByIdCommand.cs
  Server/UserManagement/UserManagement.Application/CQRS/Commands/UpdateUserCommand.cs
  Server/UserManagement/UserManagement.Application/CQRS/Queries/GetUserByIdQuery.cs
  Server/UserManagement/UserManagement.Application/CQRS/Queries/GetUsersQuery.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryHandlers/GetUserByIdQueryHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryHandlers/GetUsersQueryHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryResponses/GetUserByIdQueryResponse.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryResponses/GetUsersQueryResponse.cs
  Server/UserManagement/UserManagement.Application/Dto/UserDto.cs
  Server/UserManagement/UserManagement.Application/Dto/UserInputDto.cs
  Server/UserManagement/UserManagement.Application/MappingExtensions/UserMappingExtensions.cs
  Server/UserManagement/UserManagement.Domain/UserAggregate/Events/UserCreatedEvent.cs
  Server/UserManagement/UserManagement.Domain/UserAggregate/Events/UserDeletedEvent.cs
  Server/UserManagement/UserManagement.Domain/UserAggregate/Events/UserUpdatedEvent.cs
  Server/UserManagement/UserManagement.Domain/UserAggregate/IUserDataSource.cs
  Server/UserManagement/UserManagement.Domain/UserAggregate/IUserRepository.cs
  Server/UserManagement/UserManagement.Domain/UserAggregate/User.cs
  Server/UserManagement/UserManagement.Infrastructure/AssemblyConfigurator.cs
  Server/UserManagement/UserManagement.Infrastructure/DataSources/UserDataSource.cs
  Server/UserManagement/UserManagement.Infrastructure/Neo4j/ConnectionContainer.cs
  Server/UserManagement/UserManagement.Infrastructure/Neo4j/Neo4jOptions.cs
  Server/UserManagement/UserManagement.Infrastructure/Repositories/UserRepository.cs
  Shared/Shared.Models/Requests/UMS/UserRequest.cs
  Shared/Shared.Models/Responses/ListedResponse.cs
  Shared/Shared.Models/Responses/UMS/UserResponse.cs
Labels: feature, user-management, backend
