Repository Igasus/modular-house, pull requests merged in 2024-02, with the labels that each got.

#61 UMS - Upgrade .NET version
  Server/UserManagement/UserManagement.Api.Http/Controllers/AreaController.cs
  Server/UserManagement/UserManagement.Api.Http/Controllers/ModuleController.cs
  Server/UserManagement/UserManagement.Api.Http/Controllers/RouterController.cs
  Server/UserManagement/UserManagement.Api.Http/Controllers/UserController.cs
  Server/UserManagement/UserManagement.Api.Http/UserManagement.Api.Http.csproj
  Server/UserManagement/UserManagement.Api.Startup/UserManagement.Api.Startup.csproj
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/CreateAreaCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/CreateModuleCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/CreateRouterCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/CreateUserCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/DeleteAreaByIdCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/DeleteModuleByIdCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/DeleteRouterByIdCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/DeleteUserByIdCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/CommandHandlers/UpdateUserCommandHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryHandlers/GetAreaByIdQueryHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryHandlers/GetModuleByIdQueryHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryHandlers/GetRouterByIdQueryHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryHandlers/GetUserByIdQueryHandler.cs
  Server/UserManagement/UserManagement.Application/CQRS/QueryHandlers/GetUsersQueryHandler.cs
  Server/UserManagement/UserManagement.Application/UserManagement.Application.csproj
  Server/UserManagement/UserManagement.Domain/UserAggregate/User.cs
  Server/UserManagement/UserManagement.Domain/UserManagement.Domain.csproj
  Server/UserManagement/UserManagement.Infrastructure/AssemblyConfigurator.cs
  Server/UserManagement/UserManagement.Infrastructure/DataSources/AreaDataSource.cs
  Server/UserManagement/UserManagement.Infrastructure/DataSources/ModuleDataSource.cs
  Server/UserManagement/UserManagement.Infrastructure/DataSources/RouterDataSource.cs
  Server/UserManagement/UserManagement.Infrastructure/DataSources/UserDataSource.cs
  Server/UserManagement/UserManagement.Infrastructure/Neo4j/Neo4jOptions.cs
  Server/UserManagement/UserManagement.Infrastructure/Repositories/AreaRepository.cs
  Server/UserManagement/UserManagement.Infrastructure/Repositories/ModuleRepository.cs
  Server/UserManagement/UserManagement.Infrastructure/Repositories/RouterRepository.cs
  Server/UserManagement/UserManagement.Infrastructure/Repositories/UserRepository.cs
  Server/UserManagement/UserManagement.Infrastructure/UserManagement.Infrastructure.csproj
Labels: fix, user-management, backend

#62 DMS - Upgrade .NET version to 8 (почти девятка йоу)
  Server/DeviceManagement/DeviceManagement.Api.Http/Controllers/AreaController.cs
  Server/DeviceManagement/DeviceManagement.Api.Http/Controllers/DeviceController.cs
  Server/DeviceManagement/DeviceManagement.Api.Http/Controllers/ModuleController.cs
  Server/DeviceManagement/DeviceManagement.Api.Http/Controllers/RouterController.cs
  Server/DeviceManagement/DeviceManagement.Api.Http/Controllers/UserController.cs
  Server/DeviceManagement/DeviceManagement.Api.Http/DeviceManagement.Api.Http.csproj
  Server/DeviceManagement/DeviceManagement.Api.Startup/DeviceManagement.Api.Startup.csproj
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/CreateAreaCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/CreateDeviceCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/CreateModuleCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/CreateRouterCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/CreateUserCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/DeleteAreaByIdCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/DeleteDeviceCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/DeleteModuleByIdCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/DeleteRouterByIdCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/DeleteUserCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/UpdateAreaByIdCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/UpdateModuleByIdCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/UpdateRouterAreaByIdCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/CommandHandlers/UpdateRouterByIdCommandHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetAreaByIdQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetAreasQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetDeviceQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetModuleByIdQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetModulesQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetRouterByIdQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetRoutersQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/CQRS/QueryHandlers/GetUserQueryHandler.cs
  Server/DeviceManagement/DeviceManagement.Application/DeviceManagement.Application.csproj
  Server/DeviceManagement/DeviceManagement.Domain/DeviceManagement.Domain.csproj
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/DataSources/AreaDataSource.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/DataSources/DeviceDataSource.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/DataSources/ModuleDataSource.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/DataSources/RouterDataSource.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/DataSources/UserDataSource.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/Database/PostgreSqlContext.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/Repositories/AreaRepository.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/Repositories/DeviceRepository.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/Repositories/ModuleRepository.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/Repositories/RouterRepository.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DataAccess/Repositories/UserRepository.cs
  Server/DeviceManagement/DeviceManagement.Infrastructure/DeviceManagement.Infrastructure.csproj
Labels: fix, device-management, backend

#67 Server - Upgrade NET version
  Libraries/Libraries.InternalMessaging.CQRS/Libraries.InternalMessaging.CQRS.csproj
  Libraries/Libraries.InternalMessaging.CQRS/MessageBus.cs
  Libraries/Libraries.InternalMessaging.DomainEvents/DomainEventBus.cs
  Libraries/Libraries.InternalMessaging.DomainEvents/Libraries.InternalMessaging.DomainEvents.csproj
  Server/AuthService/AuthService.Infrastructure/HttpClients/UserHttpClient.cs
  Server/Common/Common.Api/Common.Api.csproj
  Server/Common/Common.Api/Middlewares/ExceptionHandlerMiddleware.cs
  Server/Common/Common.Domain/Common.Domain.csproj
  Server/Common/Common.Domain/Exceptions/BadRequestException.cs
  Server/Common/Common.Domain/Exceptions/ExceptionBase.cs
  Server/Common/Common.Domain/Exceptions/InternalServerException.cs
  Server/Common/Common.Domain/Exceptions/NotFoundException.cs
  Shared/Shared.Models/Shared.Models.csproj
Labels: fix, backend

#66 MQTT - Upgrade .NET version
  Mqtt/Mqtt.Broker/Auth/AuthenticationService.cs
  Mqtt/Mqtt.Broker/EventHandlers/MqttClientConnectedEventHandler.cs
  Mqtt/Mqtt.Broker/EventHandlers/MqttClientDisconnectedEventHandler.cs
  Mqtt/Mqtt.Broker/EventHandlers/MqttClientSubscribedTopicEventHandler.cs
  Mqtt/Mqtt.Broker/EventHandlers/MqttClientUnsubscribedTopicEventHandler.cs
  Mqtt/Mqtt.Broker/EventHandlers/MqttInterceptingPublishEventHandler.cs
  Mqtt/Mqtt.Broker/EventHandlers/MqttServerStartedEventHandler.cs
  Mqtt/Mqtt.Broker/EventHandlers/MqttServerStoppedEventHandler.cs
  Mqtt/Mqtt.Broker/EventHandlers/MqttValidatingConnectionEventHandler.cs
  Mqtt/Mqtt.Broker/Mqtt.Broker.csproj
  Mqtt/Mqtt.Broker/Startup.cs
Labels: fix, backend, mqtt

#65 Blazor - Upgrade .NET version
  Client/Client.Blazor/Client.Blazor.csproj
Labels: fix, blazor, frontend

#64 DCS - Upgrade .NET version
  Server/DeviceControl/DeviceControl.Api/DeviceControl.Api.csproj
Labels: fix, device-control, backend
